.game {
  position: relative;
  padding-top: 50px;
  background-color: var(--color-black);
}

.game::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-image: url(../img/rastr.png);
  background-repeat: repeat-x;
}

.game__title {
  color: var(--color-white);
}